In [ ]:
print("hello")

In [ ]:
"ashish"*3

In [ ]:
x = (int(input("Enter x: ")))
print(x)

In [ ]:
print("hi")

In [ ]:
print("python is fun").

In [ ]:
print("hi");print('world')

In [ ]:
print(' ')

In [ ]:
print(34 + 1)
print(3.4 + 1)
print(34.0 - 1.9)
print(34 // 3.1)
print(34 % 2)
print(4 ** 3)

In [ ]:
6 ** 2 + 6

In [ ]:
a = 1000000000
print(a)

b = 1_000_000
print(b)

c = 1e-6
print(c)

d = 1e-4
print(d)

e = 200000000000000000000000000.0
print(e)

f = -2e400
print(f)

g = 2e400
print(g)

In [ ]:
print(1 - - 3)
print(1-- 3)
print(1 - (-3))

In [ ]:
1/0

In [ ]:
print(5 % -3)
print(-5 % 3)
print(-5 % -3)

In [ ]:
print((3 + 4)*2 - 5**2/5)

In [ ]:
print((4 / 6 + 5**3%4 - 3))

In [ ]:
a = 5
print(type(a))

b = 4.0
print(type(b))

c = 2j+4
print(type(c))
print(c.real)
print(c.imag)

In [ ]:
b = 5.0
b = int(b)
print(b)
print(type(b))

In [ ]:
string = '''Hello this is an string 
            hi how are you
          '''
print(string)
print(type(string))

In [ ]:
str = (input("Enter the string:"))
print(f'this string has:{len(str)}')
print(str[0])
print(str[-1])

In [ ]:
Name = input("Enter your name:")
Roll_no = eval(input("Enter your roll No:"))
marks_obtained = eval(input("Enter marks you obtained:"))
Total_marks = eval(input("Enter total marks :"))
print(f'The candidate name is:{Name}\nThe candidate rollnumber is:{Roll_no}\nThe candidate marks are:{(marks_obtained / Total_marks) * 100}%')

In [ ]:
import time

start_time = time.time()

Roll_no = eval(input("Enter your roll No:"))

if len(str(Roll_no)) != 10:
    print("Enter valid roll number.")
else:
    Name = input("Enter your name:")
    marks_obtained = int(input("Enter marks you obtained:"))
    Total_marks = int(input("Enter total marks:"))
    percentage = (marks_obtained / Total_marks) * 100
    print(f'The candidate name is: {Name}\nThe candidate roll number is: {Roll_no}\nThe candidate marks are: {percentage:.2f}%')

end_time = time.time()
execution_time = end_time - start_time
print(f"Execution time: {execution_time} seconds")

In [ ]:
my_list = ['masserati', 'volvo', 'BMW', ['hi'], 2310080058]
print(my_list)
print(my_list[0])      # prints the first element in the list
print(my_list[2])      # prints the third element in the list
print(my_list[0:3])    # prints elements from index 0 to 2 (excluding 3)
print(my_list[0][0])   # prints the first character of the first element
print(my_list[-1])     # prints the last element in the list (a nested list)
print(str(my_list[-1])[0])  # prints the first digit of the roll number
print(my_list[::-1])   # prints the reverse of the list
print('masserati' in my_list)  # checks if 'masserati' is in the list
print(my_list[:])      # prints a copy of the entire list
print(len(str(my_list[4])))  # prints the length of the roll number as a string

if
    print("AI-DS")
else:
    print("not ai-ds")

In [ ]:
#lists are ordered

my_list = ["hi","ih"]
no_list = ["ih","hi"]
my_list == no_list

In [ ]:
# lists are mutable in nature

my_list = ['hi','bonjour']
anoter_list = my_list + ['namaste','hello'] + [['hola']]

print(anoter_list)
print(my_list*2)

In [ ]:
anoter_list = [[231190+4]]
print(len(str(int(anoter_list[0].real))))

In [ ]:
my_list = ['car','bikes','suv','fwd']
print(my_list)

my_list[0] = 'RWD'
print(my_list)

my_list [-1] = 2
print(my_list)

my_list[-3:-1] = [3,4]
print(my_list)

my_list[-1:-4] = [5,6,7,8,'jk']
print(my_list)

In [ ]:
# we use pop when we want the popped/removed element to be stored in another variable
my_list = [3,7,8,9,4,1]
pop_ele = my_list.pop(3)
print(my_list)

# remove to remove the ele which is first
my_list = ['hi','gn','gm','gm']
my_list.remove('gm')
print(my_list)

# del deletes the selected range of list
my_list = [6,7,8,9,3,4]
del my_list[-3:-1]
print(my_list)

In [ ]:
import time

# Time measurement for pop operation
start_time = time.time()
my_list = [3, 7, 8, 9, 4, 1]
pop_ele = my_list.pop(3)
end_time = time.time()
pop_time = end_time - start_time

# Time measurement for remove operation
start_time = time.time()
my_list = ['hi', 'gn', 'gm', 'gm']
my_list.remove('gm')
end_time = time.time()
remove_time = end_time - start_time

# Time measurement for del operation
start_time = time.time()
my_list = [6, 7, 8, 9, 3, 4]
del my_list[-3:-1]
end_time = time.time()
del_time = end_time - start_time

# Print the results
print(f"Time for pop operation: {pop_time:.6f} seconds")
print(f"Time for remove operation: {remove_time:.6f} seconds")
print(f"Time for del operation: {del_time:.6f} seconds")

In [ ]:
#mt_list.insert(<index>, obj)
my_list = ['ho','hi','jkl','lkj']
my_list.insert(4,'obj')
print(my_list)

#my_list.extend([iterables])
my_list = ['vol','mas','lam','aud']
my_list.extend(['ds'])
print(my_list)

#my_list.append([iterables])
my_list = ['vol','mas','lam','aud']
my_list.append('ds')
print(my_list)

In [ ]:
no_values = int(input("Enter the size of the list:"))

my_list = []  

for i in range(no_values):
    value = int(input("Enter a value: "))
    my_list.append(value)

even_elements = []
for x in my_list:
    if x % 2 == 0:
        even_elements.append(x)

print("Entered list:", my_list)
print("Even elements in the list:", even_elements)

In [ ]:
my_tuple = ("lam",'ham','bam')
print(my_tuple)
print(type(my_tuple))
print(my_tuple[::-1])

In [ ]:
#A dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value.

#You can define a dictionary by enclosing a comma-separated list of key-value pairs in curly braces ({}). 
#A colon (:) separates each key from its associated value.


my_dict = {
    'GERMANY' : 'PORSCHE',
    'KOREA'   : 'HYUNDAI',
    'SWEDEN'   : 'KOENIGSEGG',
    'INDIA'   : 'MAHINDRA'
}
print(my_dict)
print(type(my_dict))
print(len(my_dict))

In [ ]:
print('INDIA' in my_dict) # it is case senstive so other than org dict it wont work

In [ ]:
my_dict['SWEDEN'] # we can only call the key by it key name not using numeric values

In [ ]:
print(my_dict.keys())
print(my_dict.values())

In [ ]:
my_dict['ITALY'] = 'ALFA ROMEO'
my_dict

In [ ]:
ERP = {}
ERP['First name'] = 'Sai'
ERP['Last name'] = 'Ashish'
ERP['Roll_no'] = 2310080058
ERP['department'] = 'AI&DS'
ERP['Courses'] = ['Python', 'BEEC', 'LAC']
ERP['ALM'] = {'ALM1': 'QUIZ', 'ALM2': 'ASSIGNMENT'}
print(ERP)

In [ ]:
#Dictionary in a List 
My_List = ['Apple', 'Ball', 'Cat', 'Dog', 'Eagle', {'F' : 'Fruit', 'G' : 'Giraffe', 'H' : 'Horse'}]
print(My_List)

My_List[-1]['F']

In [ ]:
yo_dict = {'a':20, 'b':56, 'c':34}
print(yo_dict.get('c'))
print(yo_dict.get('s'))

In [ ]:
ERP.clear()
ERP

In [ ]:
yo_dict.clear()
yo_dict

In [ ]:
yo_dict = {'a':20, 'b':56, 'c':34}

print(list(yo_dict.items()))
print(type(list(yo_dict.items())[1][0]))
print(list(yo_dict.items())[2][1])

In [ ]:
d = {'a': 34, 'Name': input('Enter your name:'), 'c': 56}

print(list(d.items())[1][1][::-1])

In [ ]:
yo_dict = {'a':20, 'b':56, 'c':34}
yo_dict.pop('b')
yo_dict

In [ ]:
yo_dict = {'a':20, 'b':56, 'c':34}
print(yo_dict.popitem())
yo_dict

In [ ]:
d1 = { 'a':'ashish','b' : 'ash',"c" : 78}
d1.update(b = 'ASHU',d = 800 )
d1

In [ ]:
my_set = set(['ashish','lamborghini','porsche','koenigsegg'])
print(type(my_set))
print(len(my_set))
print(my_set)

In [ ]:
my_set = 'hello'
print(list(my_set))
print(set(my_set))  
# print(set(my_set)) reason for arbitary or unorderd print is because python stores values in hash forms which are unordered.

In [ ]:
print({' oho '})
print(set('oho'))
print(set({'oho'}))

In [ ]:
import math
my_set = {42, 'ashu' , math.pi}
print(my_set)
42 in my_set

In [ ]:
set1 = {'ashu' , 'hi' , 'gm'}
set2 = { 42 , 1+8j, 'gm'}
print(set1 | set2)
print(set1.union(set2))

In [ ]:
a = {1,2,3,4}
b = {1,2,7,4}
c = {1,2,3,5}
d = {1,6,3,4}
print(a|b|c|d) #set elememts are not accessible like list or tuple instead type cast to list then access them

In [ ]:
a = {2,1,0,8,'a','s','h','u'}
print(list(a))

In [ ]:
set1 = {'ashu' , 'hi' , 'gm'}
set2 = { 42 , 1+8j, 'gm'}
print(set1.intersection(set2)) 
print(set1&set2)

In [ ]:
set1 = {'ashu' , 'hi' , 'g'}
set2 = { 42 , 1+8j, 'gm'}
print(set1.intersection(set2)) 
print(set1&set2)  #if there are no common elements then the python returns null value i.e set()

In [ ]:
set1 = {'ashu' , 'hi' , 'gm'}
set2 = { 42 , 1+8j, 'gm'}
print(set1.intersection(set2)) 
print(set1&set2)  
set3 = set1.intersection(set2)

print(type(set3))

In [ ]:
 a = {1,2,3,4,''}
b = {1,2,7,4,''}
c = {1,2,3,5,''}
d = {1,6,3,4,''}
a.intersection(b,c,d)

In [ ]:
 a = {1,2,3,4,' '}
b = {1,2,7,4,''}
c = {1,2,3,5,''}
d = {1,6,3,4,''}
a.intersection(b,c,d) #each space matters

In [ ]:
a = {1,2,3,4}
b = {1,2,7,4}
print(a.difference(b)) #this only returns values which are not there in a 
print(a-b)

In [ ]:
a = {1,2,3,30,300}
b = {10,20,20,400}
c = {100,200,200,40}
print(a.difference(b,c))
print(a - b - c)

In [ ]:
set1 = {'ashu' , 42 , 'gm'}
set2 = { 42 , 1+8j, 'gm'}
print(set1.symmetric_difference(set2)) # returns the diff elements but not the common ones
print(set1 ^ set2)

In [ ]:
import random
import string

def generate_password(length):
    characters = string.ascii_letters + string.digits + string.punctuation
    return ''.join(random.choice(characters) for _ in range(length))

length = 10
print(generate_password(length))

In [ ]:
import turtle

def koch_curve(t, order, size):
    if order == 0:
        t.forward(size)
    else:
        for angle in [60, -120, 60, 0]:
            koch_curve(t, order-1, size/3)
            t.left(angle)

def koch_snowflake(t, order, size):
    for _ in range(3):
        koch_curve(t, order, size)
        t.right(120)

window = turtle.Screen()
t = turtle.Turtle()
t.speed(0)
t.penup()
t.goto(-150, 90)
t.pendown()
koch_snowflake(t, 4, 300)
window.mainloop()

In [ ]:
s1 = {'ht','lki','kol','klo'}
s2 = {'kil','lok','opl','jkl'} #returns bool value true if there are no common elements
print(s1.isdisjoint(s2))
print(s2 - {'lok'})

In [ ]:
s1 = {'ht','lki','kol','klo'}
s2 = {'kil','lok','opl','jkl'}
print(s1.isdisjoint(s2))  #if s1 isdisjoint s2 is true then s1 & s2 is empty set
s1 & s2

In [ ]:
s1 = {'ht','kil','opl','klo'}
s2 = {'kil','klo','opl','jkl'}  # returns true if every element of s1 is in s2

print(s1.issubset(s2))
print(s1 <= s2)

In [ ]:
s1 = {'kil','opl','klo','guh'}
s2 = {'kil','klo','opl'}   # returns true if evry element of s2 is in s1

print(s1.issuperset(s2))
print(s1 >= s2)

In [ ]:
set1 = {'ashu' , 'hi' , 'gm'}
set2 = { 'ashu', 'hi', 'gm','gun'}
set1 |= set2
print(set1)
print(set2)
#s1.update and s1|=s2 add those elements to set1 that are present in set2 but not in set1.
set1.update({'bbq','thug'})
print(set1)
print(set2)

In [ ]:
s1 = {'ashu' , 'hi' , 'gm'}
s2 = { 'ashu', 'hi', 'gm','gun'}

s1 &= s2
print(s1)

s1 = {'hello',1,'gm'}
s1.intersection_update(['1',1])
print(s1)

In [ ]:
print(type(True))
bool

In [ ]:
print(1!=2)
print(1 != (1 + 0.0))
print(1 != (1 + 0.4))

In [ ]:
print(5 < 7 and 4 == 4)
print(5 > 7 and 4 != 4)
print(5 < 6 and 3 > 4)

In [ ]:
# Define the list of operations
list_op = ['less than','equal to ','greater than ','not equal to']

# Get the user's choice of operation
op_index = int(input("Enter the index of the operation you want to perform: "))
op_index = max(0, min(op_index, len(list_op)-1)) # Ensure the index is within bounds
selected_op = list_op[op_index]

# Get the 4 inputs
inputs = []
for i in range(4):
    num = float(input(f"Enter input #{i+1}: "))
    inputs.append(num)

# Perform the selected operation on the inputs
if selected_op == 'less than':
    result = inputs[0] < inputs[1] and inputs[2] < inputs[3]
elif selected_op == 'equal to ':
    result = inputs[0] == inputs[1] and inputs[2] == inputs[3]
elif selected_op == 'greater than ':
    result = inputs[0] > inputs[1] and inputs[2] > inputs[3]
elif selected_op == 'not equal to':
    result = inputs[0] != inputs[1] or inputs[2] != inputs[3]

# Print the result
print(f"The result is {result}.")

In [ ]:
from ultralytics import YOLO

In [1]:
#short hand if
i = 10
print(True) if 1<15 else (False)

True

In [2]:
my_list = ['hello','hi','hola']
for i in my_list:
    print(i)

hello
hi
hola

In [10]:
d = {'a':80,'n':90,'k':99}
for u in d:
    print(u)

a
80
n
90
k
99

In [11]:
d = {'a':80,'n':90,'k':99}
for u in d:
    print(d[u])

80
90
99

In [13]:
d = {'a':80,'n':90,'k':99}
for i,j in d.items():
    print('key =' ,i,'value =',j)

key = a value = 80
key = n value = 90
key = k value = 99

In [15]:
for i,j in [(1,'hola'),(2,'idaktimas'),(3,'bonjour')]:
    print(i,j)

1 hola
2 idaktimas
3 bonjour

In [20]:
for i in range['hola','hi','yo']:
    if 'g' in i:
         break
    print(i)

TypeError: type 'range' is not subscriptable

In [27]:
import phonenumbers
from phonenumbers import geocoder, carrier

try:
    phone_num1 = phonenumbers.parse("+91 8523093777", None)  # Replace with the phone number you want to look up

    # Get country and region (city) information
    country = geocoder.description_for_number(phone_num1, "en")
    region_data = geocoder.description_for_number(phone_num1, "en").split(', ')
    city = region_data[0] if len(region_data) > 1 else None
    state = region_data[1] if len(region_data) > 1 else None

    # Get carrier information
    carrier_name = carrier.name_for_number(phone_num1, "en")

    print("Country:", country)
    print("City:", city)
    print("State:", state)
    print("Carrier:", carrier_name)
except Exception as e:
    print("An error occurred:", e)

Country: India
City: None
State: None
Carrier: Telewings

In [ ]:
#calculator

def calc()